{
    "{{ mamba.authentication.qc.url }}": {
        "user": "{{ mamba.authentication.qc.user }}",
        "password": "{{ mamba.authentication.qc.password }}",
        "type": "{{ mamba.authentication.qc.type }}"
    }
}
