channel_alias: {{ conda.qc.channel_alias }}

channels:
  - conda-forge
  - qc-internal

custom_multichannels:
  conda-forge:
    - https://conda.anaconda.org/conda-forge
  cf-staging:
    - https://conda.anaconda.org/cf-staging
  pytorch:
    - https://conda.anaconda.org/pytorch
